.ncpi .pi-main-content {
  background-color: var(--bg-color-white);
  margin-top: 80px;
}

.ncpi .pi-container {
  left: 0;
  right: 0;
  margin: auto;
  max-width: 657px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 45px 65px;
}
@media screen and (max-width: 768px) {
  .ncpi .pi-container {
    padding: 30px;
  }
}
.ncpi .pi-logo-content {
  text-align: center;
  margin-bottom: 33px;
}
.ncpi .pi-logo-content img {
  width: 36px;
  height: 36px;
  margin: auto;
}
.ncpi .pi-logo-content strong {
  position: relative;
  top: -10px;
  left: 10px;
  font-size: 24px;
}
.ncpi .pi-buttons.pi-text-center a {
  display: table;
  color: #000;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  font-weight: 600;
}
.ncpi #pi-finished .pi-buttons.pi-text-center a:last-child {
  display: inline;
  color: var(--text-color-white);
  margin-right: 0;
}
@media screen and (max-width: 500px) {
  .ncpi #pi-finished .pi-buttons.pi-text-center a {
    margin-bottom: 30px;
  }
}
.ncpi #pi-finished h3 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 30px;
}
.ncpi .pi-tabs-content #pi-welcome p {
  margin-bottom: 70px;
}
.ncpi .pi-tabs-content #pi-finished p {
  margin-bottom: 45px;
}
.ncpi .pi-tabs-content #pi-finished .pi-buttons a {
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
}
.ncpi .pi-tabs-content #pi-finished .pi-buttons a:first-child {
  margin-left: 0px;
}
.ncpi .pi-tab-content #pi-brand img {
  text-align: center;
  margin-bottom: 5px;
}
.ncpi .pi-tab-content #pi-brand .upload {
  font-size: 19px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-top: 10px;
  font-weight: 700;
}
.ncpi .pi-tab-content #pi-brand input {
  display: block;
  margin: auto;
}
