.ncpi .pi-list-single-head {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #dddddda8;
  border-radius: 8px 8px 0 0;
}
.ncpi .pi-list-single-head .pi-list-content {
  display: flex;
}
.ncpi .pi-list-single-head .pi-list-content h3 {
  font-size: 24px;
  font-weight: 500;
  color: #4A5568;
  margin-bottom: 5px;
}
.ncpi .pi-list-single-head .pi-list-content h3 .pi-btn {
  border: 1px solid #dddddda8;
}
.ncpi .pi-list-single-head .pi-list-content .logo {
  width: 90px;
  height: 90px;
  margin-right: 15px;
  border-radius: 8px;
}
.ncpi .pi-list-single-head .pi-list-content .pi-lead-address address {
  font-style: normal;
  font-size: 12px;
  color: #718096;
}
.ncpi .pi-list-single-head .pi-edit-btn {
  text-align: right;
  display: block;
  margin-bottom: 30px;
}
.ncpi .pi-list-single-head .pi-edit-btn .pi-btn {
  border: 1px solid #dddddda8;
  padding: 5px 12px !important;
}
.ncpi .pi-list-single-head .pi-list-single-button-content .pi-btn-medium.pi-bg-stroke {
  padding: 8px 15px !important;
}
.ncpi .pi-list-single-head .pi-list-single-button-content button {
  background-color: #fff;
  color: #4A5568;
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid #dddddda8;
  line-height: 15px;
}
.ncpi .pi-list-single-head .pi-list-single-button-content button img {
  position: relative;
  top: 2px;
  left: -3px;
}
.ncpi .pi-list-single-head .pi-list-single-button-content .pi-action-btn {
  top: 5px;
}
.ncpi .pi-tag-content {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #dddddda8;
  border-top: none;
  border-radius: 0 0 8px 8px;
}
.ncpi .pi-tag-content .pi-budget span {
  color: #718096;
  font-size: 13px;
  font-weight: 500;
}
@media screen and (max-width: 820px) {
  .ncpi .pi-tag-content {
    display: inline-block;
  }
}
.ncpi .pi-tag-content ul {
  display: flex;
  margin: 0;
}
@media screen and (max-width: 820px) {
  .ncpi .pi-tag-content ul {
    display: inherit;
  }
}
.ncpi .pi-tag-content ul li {
  margin-right: 40px;
}
@media screen and (max-width: 820px) {
  .ncpi .pi-tag-content ul li {
    width: 50%;
    float: left;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 820px) {
  .ncpi .pi-tag-content ul li {
    width: 100%;
  }
  .ncpi .pi-tag-content ul li:last-child {
    margin-bottom: 0;
  }
}
.ncpi .pi-tag-content ul li span {
  margin-right: 5px;
}
.ncpi .pi-tag-content ul select {
  border: 1px solid #dddddda8;
  font-weight: 500;
  color: #4A5568;
  outline: none;
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 4px;
  margin-left: 3px;
}
.ncpi .pi-tag-content ul label {
  font-size: 12px;
  margin-right: 3px;
  color: #718096;
}
.ncpi .pi-tab-buttons-group {
  border: 1px solid #dddddda8;
  padding: 5px 10px 10px;
  border-radius: 8px;
  background-color: #fff;
  text-align: right;
}
.ncpi .pi-tab-buttons-group .pi-activity-field {
  text-align: left;
}
.ncpi .pi-tab-buttons-group .pi-activity-field input {
  font-size: 12px;
  color: #718096;
  margin-bottom: 20px;
  margin-top: 0;
  border: none;
  padding: 7px 0;
  width: 100%;
}
.ncpi .pi-tab-buttons-group .pi-activity-field input:focus {
  outline: none;
}
.ncpi .pi-tab-buttons-group button:last-child {
  border: none;
  position: relative;
  top: -4px;
}
.ncpi .pi-tab-buttons-group button {
  background: transparent;
  border: 1px solid;
  border-color: #CBD5E0;
  padding: 5px 6px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  border-style: dashed;
}
.ncpi .pi-work-button-group h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 30px;
  color: #4A5568;
}
.ncpi .pi-work-button-group .pi-btn-small {
  color: #718096 !important;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #dddddda8;
  margin-right: 5px;
}
.ncpi .pi-work-button-group .pi-btn-small:hover {
  color: #2D3748 !important;
}
.ncpi .pi-work-button-group-two h3 {
  margin-top: 18px;
}
.ncpi .pi-px-25 {
  padding: 35px 25px 0 !important;
}
.ncpi .pi-board {
  display: flex;
  overflow-x: scroll;
  margin-top: 30px;
  height: calc(100vh - 235px);
}
.ncpi .pi-board-column {
  margin-right: 20px;
}
.ncpi .pi-board-column .pi-btn {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}
.ncpi .pi-board-column:last-child {
  margin-right: 0;
}
.ncpi .pi-board-column .pi-board-column-title {
  background: #fff;
  padding: 18px 10px 7px 20px;
  border-top: 5px solid #4c6fff;
  display: flex;
  position: relative;
}
.ncpi .pi-board-column .pi-board-column-title h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
}
.ncpi .pi-board-column .pi-board-column-title:before {
  position: absolute;
  top: 20px;
  right: -8px;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid #ffffff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.ncpi .pi-board-column .pi-action-content {
  margin-left: auto;
}
.ncpi .pi-board-column .pi-action-content .pi-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin-top: -2px;
}
.ncpi .pi-board-column .pi-board-column-item {
  background-color: #fff;
  border: 1px solid #dddddda8;
  border-radius: 8px;
  margin-bottom: 15px;
}
.ncpi .pi-board-column .pi-board-column-item .pi-board-item-top {
  padding: 15px;
  border-bottom: 1px solid #dddddda8;
}
.ncpi .pi-board-column .pi-board-column-item .pi-board-item-top h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 5px;
}
.ncpi .pi-board-column .pi-board-column-item .pi-board-item-top p {
  margin: 0px;
}
.ncpi .pi-board-column .pi-board-column-item .pi-board-item-top span,
.ncpi .pi-board-column .pi-board-column-item .pi-board-item-top p {
  font-size: 12px;
  color: #718096;
}
.ncpi .pi-avatar-content {
  padding: 10px 15px;
  display: flex;
}
.ncpi .pi-avatar-content img {
  width: 37px;
  height: 38px;
}
.ncpi .pi-avatar-content .pi-avatar-text {
  margin-left: 8px;
}
.ncpi .pi-avatar-content .pi-avatar-text h5 {
  line-height: 140%;
  color: #2D3748;
  font-weight: 500;
}
.ncpi .pi-avatar-content .pi-avatar-text p {
  color: #425466;
}
.ncpi .pi-avatar-content .pi-avatar-text p,
.ncpi .pi-avatar-content .pi-avatar-text h5 {
  margin: 0;
  font-size: 12px;
}
.ncpi .pi-broad-content {
  overflow-y: scroll;
  width: 235px;
  height: 89%;
  padding: 15px 10px;
}
.ncpi .pi-list-single-head-two {
  padding: 30px 30px 20px;
}
.ncpi .pi-list-single-head-two .pi-list-content {
  display: block;
}
.ncpi .pi-list-single-head-two .pi-list-content h3 {
  display: inline-flex;
}
.ncpi .pi-list-single-head-two .pi-list-content h3 .pi-edit-btn {
  margin-left: 20px;
  margin-bottom: 10px;
}
.ncpi .pi-list-single-head-two .pi-avatar-content {
  padding: 0;
}
.ncpi .pi-list-single-button-content .pi-select {
  margin-bottom: 30px;
}
.ncpi .pi-list-single-button-content .pi-select label {
  font-size: 12px;
  color: #425466;
}
.ncpi .pi-list-single-button-content .pi-select select {
  width: auto;
  margin-left: 15px;
  font-size: 11px;
  color: #F68A0B;
  margin-top: 0;
  border: 1px solid #CBD5E0;
  padding: 13px;
  border-radius: 5px;
  padding: 8px;
}
.ncpi .pi-note-content h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 30px;
  color: #4A5568;
}
.ncpi .pi-note {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}
.ncpi .pi-note .pi-action-content {
  position: absolute;
  right: 0;
}
.ncpi .pi-note .pi-avater {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.ncpi .pi-note .pi-note-text {
  width: 90%;
}
.ncpi .pi-note h4 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 7px;
}
.ncpi .pi-note h4 span {
  color: #A0AEC0;
  margin-left: 25px;
}
.ncpi .pi-note p {
  margin-top: 10px;
  color: #4A5568;
}
.ncpi .pi-work-button-group-two .pi-btn-medium {
  margin-bottom: 25px;
  margin-left: 5px;
}
.ncpi .pi-work-button-group-two .pi-btn-small svg {
  margin-right: 0;
}
.ncpi .pi-work-button-group-two .pi-btn {
  border: 1px solid #dddddda8;
  color: #718096;
}
.ncpi .pi-work-button-group-two .pi-btn svg {
  vertical-align: middle;
}
.ncpi .pi-work-button-group-two .pi-btn svg path {
  fill: #718096;
}
.ncpi .pi-accordion {
  margin-top: 15px;
}
.ncpi .pi-accordion input[type=radio] {
  display: none;
}
.ncpi .pi-table {
  position: relative;
  background: white;
  height: 64px;
  transition: all 0.15s ease-in-out;
}
.ncpi .pi-table b {
  background-color: #EDF2F7;
  padding: 7px 12px;
  border-radius: 5px;
  color: #718096;
  font-weight: 600;
  font-size: 12px;
}
.ncpi .pi-table .pi-down-angle {
  width: 15px;
  height: 15px;
  padding: 4px 6px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #E2E8F0;
  margin-right: 10px;
  box-shadow: 0px 4.95074px 6.60099px rgba(0, 0, 0, 0.07);
}
.ncpi .pi-table .pi-down-angle svg {
  position: relative;
  left: 1px;
  transform: rotate(90deg);
  top: -2px;
  transition: all 0.3s ease-out;
}
.ncpi .pi-table-title {
  width: 100%;
  padding: 15px 0;
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ncpi .pi-table-content {
  width: 100%;
  padding-left: 25px;
  font-size: 11pt;
  color: rgba(0, 0, 0, 0.54);
  display: none;
}
.ncpi .pi-table-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
.ncpi input:checked + .pi-table {
  height: auto;
}
.ncpi input:checked + .pi-table .pi-table-content,
.ncpi input:checked + .pi-table .pi-table-close {
  display: inline-block;
}
.ncpi input:checked + section.pi-table .pi-table-title span svg {
  transform: rotate(0deg);
}
