 


%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency {
  text-align: right;
  word-break: break-word;
}


.invoice {
  max-width: 800px;
  margin: (40px) auto;
  border: 1px solid #ccc;
  padding: 2 * 20px;
  border-radius: 4px;
  background: white;
}

.brand {
  margin-bottom: 40px;
  .logo {
    display: inline-block;
    border-radius: 4px;
  }
}

.addresses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left;
  .from, .to {
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
  }
  .from {
    display: block;
    font-style: normal;
    margin-right: 10px;
    background: #efefef;
    border: 1px solid #ccc;
  }
  .to {
    display: block;
    margin-left: 10px;
    padding: 0;
    .value {
      text-align: right;
    }
  }
  .address {
    display: block;
  }
}

.valueTable {
  margin: 0 0 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  & > .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #ccc;
    &:last-of-type {
      border-bottom: none;
    }
    & > div {
      padding: 10px;
    }
    & > .label {
      @extend %flex-center;
      justify-content: flex-start;
      font-weight: bold;
    }

  }
}

.totalContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pay {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 (20px) 20px;
}

button.payNow {
  display: block;
  padding: (20px) (40px);
  background: lightyellow;
  border-radius: 4px;
  border: 1px solid #444;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  .comments {
    padding: 20px;
    border-radius: 4px;
    h4, h5 {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  .comments {
    text-align: left;
    background: #eee;
  }
  .closing {
    padding-top: 20px;
  }

}


