

.lineItem {

  display: grid;
  grid-template-columns: 1fr repeat(2, 5fr) 2fr repeat(2, 3fr) 2fr;

  & > div {
    // @extend %flex-center;
    padding: 10px;
    border-left: 1px solid 1px;
    width: 100%;
    line-height: 20px;
    min-width: 20px;
    &:first-of-type {
      padding: 10px 0;
      border-left: none;
    }
    &:last-of-type {
      padding: 10px 0;
    }
    &:first-of-type, &:nth-child(4), &:last-of-type {
      text-align: center;
    }
  }

}

.deleteItem {
  // @extend %flex-center;
  color: red;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

input, input[type=number] {
  padding: 20px / 4;
  border: 1px solid #dfdfdf;
  border-radius: #ccc;
  min-width: 20px * 2;
  width: 100%;
}
input[type=number] {
  text-align: center;
}
