::-moz-selection {
    display: inline-block;
    text-shadow: none;
    color: #fff; 
    background: #878787;
}
::selection {
    display: inline-block;
    text-shadow: none;
    color: #fff; 
    background: #878787; 
}
