/*-------------------------------------------------------------- 
# Typography 
--------------------------------------------------------------*/
html {
  font-size: 100%;
}
body.ndpv {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.45em;
  word-wrap: break-word;
  overflow-x: hidden;
  margin: 0;
}
.ndpv {
  background-color: #fff;
}
/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
@import "headings";

/*--------------------------------------------------------------
# Copy
--------------------------------------------------------------*/
@import "copy";
