* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f2f2f2;
}

.app {
	display: flex;
	max-width: 1200px;
	width: 100%;
	height: 80vh;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 250px;
	background-color: #fff;
}

.search-box {
	padding: 15px;
	border-bottom: 1px solid #ccc;
}

.search-box input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
}

.users {
	flex: 1;
	overflow-y: scroll;
}

.users::-webkit-scrollbar {
	width: 10px;
}

.users::-webkit-scrollbar-track {
	background-color: #f2f2f2;
	border-radius: 5px;
}

.users::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 5px;
}

.users li {
	display: flex;
	align-items: center;
	padding: 15px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.users li.active,
.users li:hover {
	background-color: #f2f2f2;
}

.user-image img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
}

.user-info h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}

.last-message {
	font-size: 16px;
	color: #888;
	margin-bottom: 5px;
}

.last-message-time {
	font-size: 14px;
	color: #aaa;
}

.chat {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: #fff;
}

.chat h2 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}

.chat-messages {
	flex: 1;
	overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
	width: 10px;
}

.chat-messages::-webkit-scrollbar-track {
	background-color: #f2f2f2;
	border-radius: 5px;
}

.chat-messages::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 5px;
}

.sent {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.sent .message-content {
	background-color: #dcf8c6;
	color: #333;
	padding: 10px;
	border-radius: 10px 10px 0 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.sent .message-time {
	font-size: 12px;
	color: #aaa;
	margin-right: 10px;
}

.received {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}

.received .avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	flex-shrink: 0;
}

.received .message-content {
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	border-radius: 15px;
	padding: 10px;
	font-size: 16px;
	max-width: 70%;
}

.received .message-content .message-text {
	margin-bottom: 5px;
}

.received .message-content .message-time {
	color: #777;
	font-size: 12px;
}

@media screen and (max-width: 767px) {
	.received {
		flex-direction: column;
	}

	.received .avatar {
		margin-bottom: 10px;
		margin-right: 0;
	}

	.received .message-content {
		max-width: 100%;
	}
}