/*-------------------------------------------------------------- 
# button
--------------------------------------------------------------*/
.ndpv {
  .pv-btn {
    padding: 15px 20px;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 14px;
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }
  }

  .pv-btn-medium {
    padding: 10px 15px !important;
    font-weight: 500;
    border: 1px solid #dddddda8;
  }

  .pv-btn-small {
    padding: 6px 10px !important;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #dddddda8;
  }

  @media screen and (max-width: 768px) {
    .pv-btn {
      padding: 12px 15px;
      font-size: 12px;
    }
  }

  .pv-btn-big {
    width: 200px;
    justify-content: center;

    @media screen and (max-width: 550px) {
      width: 150px;
    }
  }
}