//TODO: do it like main 
//rakib code
.ndpv .pv-field-logo-wrap {
  margin-top: 10px;

  .pv-field-logo {
    position: relative;
    display: inline-block;

    img {
      border-radius: 4px;
    }
  }

  .pv-field-logo-close {
    background: #fff;
    position: absolute;
    top: -8px;
    right: -5px;
    font-size: 15px;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgb(23 10 18 / 18%) 0px 0px 4px;
  }
}

//from reza start
.ndpv {
  .pv-main-content {
    background-color: #F7F8FA;
    padding: 80px 0 120px;

  }

  .pv-welcome-tabs-content {
    position: relative;

    .pv-button {
      position: absolute;
      bottom: -130px;
      right: -75px;

      a {
        text-align: center;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .pv-welcome-title-content {
    h3 {
      font-weight: 600;
      font-size: 18px;
    }

    .pv-welcome-disc,
    p {
      margin: 0;
      margin-top: 5px;
      color: #4A5568;
    }
  }

  .pv-welcome-title-content {
    margin-bottom: 30px;

    .pv-welcome-title {
      font-weight: 700;
      font-size: 24px;
    }

    .pv-welcome-disc {
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .pv-container {
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px 75px 35px;
    background-color: #fff;
    border-radius: 10px;

    &.pv-p-tb {
      padding: 30px 60px 40px;
    }

  }

  @media screen and (max-width: 768px) {
    .pv-container {
      padding: 30px !important;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 500px) {
    .pv-container {
      padding: 15px;

    }

    .pv-main-content {
      margin-top: 30px;
      padding: 80px 15px 120px;
    }
  }

  .pv-logo-content {
    text-align: center;
  }

  .pv-buttons.pv-text-center a {
    display: table;
    color: #000;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    font-weight: 600;
  }

  #pv-done .pv-buttons.pv-text-center a:last-child {
    color: var(--pv-text-color-white);
    margin-right: 0;
  }

  @media screen and (max-width: 500px) {
    #pv-done .pv-buttons.pv-text-center a {
      margin-bottom: 15px;
    }
  }


  .pv-welcome-tabs-content #pv-done .pv-sub-title {
    margin-bottom: 45px;
  }

  .pv-welcome-tabs-content #pv-done .pv-buttons a {
    display: inline-block;
    position: relative;
    top: 120px;
    padding: 13px 20px !important;

    @media screen and (max-width: 540px) {
      top: 115px;
      display: table;
    }

    @media screen and (max-width: 540px) {
      top: 115px;
      display: inline-block;
    }

  }


  .pv-tab-content {
    position: relative;

    #pv-tutorial img {
      text-align: center;
      margin-bottom: 5px;
    }

  }

  #pv-tutorial .pv-tutorial-image {
    img {
      position: relative;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  #pv-tutorial .pv-buttons {
    @media screen and (max-width: 820px) {
      margin-bottom: 20px;
    }
  }


  .pv-tab-content #pv-tutorial input {
    width: 120px;
    font-size: 10px;
    padding: 13px;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: -6px;
    transform: translateX(-50%);
    opacity: 0;
  }

  #pv-done {
    h1 {
      font-weight: 700;
      line-height: 40px;
      margin-top: 20px;
      font-size: 24px !important;
      color: #2D3748;
    }

    p {
      color: #4A5568;
      margin-top: 0;
      font-size: 14px;
    }

    .pv-background {
      padding: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 25px;

      @media screen and (max-width: 540px) {
        padding: 30px;
      }
    }

    .pv-inner-content {
      display: flex;

      h2 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 600;

        @media screen and (max-width: 540px) {
          font-size: 24px;
        }
      }

      p {
        background-color: #4D2F92;
        margin: auto;
        width: 45%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        color: #fff;
        margin-top: 20px;
        align-items: center;

        @media screen and (max-width: 820px) {
          width: 60%;
          margin-bottom: 30px;
        }

        @media screen and (max-width: 540px) {
          width: 65%;
          margin-bottom: 30px;
        }

        @media screen and (max-width: 420px) {
          width: 80%;
          margin-bottom: 30px;
        }

        @media screen and (max-width: 375px) {
          width: 100%;
          margin-bottom: 30px;
        }
      }

      .pv-img-content {
        text-align: right;

        @media screen and (max-width: 820px) {
          text-align: center;
        }

        @media screen and (max-width: 540px) {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }

    .col-md-6.pv-buttons.pv-text-right {
      align-self: end;

      a {
        top: 0px;
      }

      .pv-btn.pv-bg-stroke {
        box-shadow: 0px 2.95074px 4.60099px rgb(0 0 0 / 7%)
      }
    }

    .pv-client {
      margin-top: -40px;
      margin-bottom: 70px;

      img {
        box-shadow: 0px 4.95074px 6.60099px rgb(0 0 0 / 7%);
        width: 200px;
        height: 109px;
        margin-left: 50px;
        border-radius: 30px;
      }
    }

    .pv-buttons .pv-btn.pv-mr-10 {
      margin-left: 10px;
    }
  }

}

.ndpv {
  .pv-logo-content {
    //display: flex;
  }

  .pv-upload {
    font-size: 14px;
    margin-bottom: 60px !important;
    margin-top: 12px !important;
    font-weight: 500;
    position: relative;
    border: 1px solid #CBD5E0;
    padding: 7px 14px;
    width: 125px;
    margin-left: 25px;
    border-radius: 5px;
    height: 40px;
    align-self: center;
    top: 35px;
    font-weight: 600;

    input {
      width: 120px;
      font-size: 10px;
      padding: 13px;
      position: absolute;
      cursor: pointer;
      left: 50%;
      top: -6px;
      transform: translateX(-50%);
      opacity: 0;
    }
  }

  .pv-welcome-tabs-content {
    left: 0;
    right: 0;
    margin: auto;
    max-width: 950px;
  }

  .pv-button.pv-text-right {

    a {
      padding: 13px 30px;
    }

    .pv-btn {
      width: 200px;
      display: inline-block;
      margin-top: 40px;

    }
  }

  .pv-logo-content .pv-logo {
    h3 {
      font-size: 15px;
    }
  }

  .pv-module-content {
    .row {
      margin-right: 0;
      margin-left: 0;
      gap: 15px;

      .col-lg-4 {
        max-width: 31.333333%;

        @media screen and (max-width: 540px) {
          max-width: 48%;
        }

        @media screen and (max-width: 420px) {
          max-width: 100%;
        }
      }
    }


    .row>div {
      padding: 10px 15px;
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
  }

  .pv-module {
    border-radius: 20px;

    h3 {
      font-size: 16px;
      font-weight: 500;
      position: relative;

      span {
        right: 0;
        background: #FF6B00;
        padding: 0 8px;
        font-size: 12px;
        border-radius: 20px;
        position: absolute;
        top: -1px;
        color: #fff;
        line-height: 25px;
      }
    }

    p {
      margin-top: 10px;
      font-size: 12px;
      color: #4A5568;
    }
  }

  #pv-tutorial {
    .row.pv-bg-pearl {
      padding: 20px 15px;
    }

    .col-lg-6 {
      align-self: center;

      p {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
      }

      img {
        width: 100%;
      }

      .pv-tutorial {
        color: #A0AEC0;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        align-items: center;
      }

      .pv-buttons {
        a {
          display: inline-flex;
          align-items: center;
        }
      }
    }

    .pv-module {
      display: grid;
      grid-template-columns: auto 100px;
      margin-bottom: 15px;
      padding: 15px 30px 20px;
      background-color: #FDFDFD;
      border-radius: 15px;
      box-shadow: 0px 2.95074px 4.60099px rgb(0 0 0 / 7%);
      border: 1px solid #edf2f7;

      @media screen and (max-width: 540px) {
        padding: 15px 20px 20px;
      }

      p {
        margin: 0;
      }

    }

    .pv-field-switch-content {
      display: grid;
      align-items: center;
      justify-content: right;
    }
  }

  .pv-buttons.pv-text-right {
    @media screen and (max-width: 540px) {
      text-align: center;
      margin-top: 10px;
    }
  }

  //login page
  .pv-login-content.pv-container {
    padding: 80px 90px 70px 45px;

    @media screen and (max-width: 992px) {
      padding: 40px;
    }

    ::placeholder {
      color: #4A5568;
    }
  }

  ::placeholder {
    color: red;

  }

  .pv-login-content {
    width: 40%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;


    .pv-logo-content {
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;

      @media screen and (max-width: 992px) {
        position: inherit;
      }
    }

    .pv-login-title {
      font-size: 20px;
      font-weight: 600;
      color: #718096;
      margin-bottom: 30px;

      @media screen and (max-width: 540px) {
        font-size: 16px;
      }
    }


    .pv-logo-content {
      display: inherit;
      text-align: center;
      background-color: #fff;

      strong {
        font-size: 24px;
        display: block;
        color: #2D3748;
        margin-top: 5px;
        left: 0;
      }

      p {
        color: #A0AEC0;
        font-size: 16px;
        margin-top: 15px;
      }
    }

    .pv-btn {
      width: 100%;
      justify-content: center;
    }

    input::placeholder {
      color: #4A5568 !important;
    }
  }
}