@import "_seal.scss";
:root {
  --pi-inv-secondary: #4c6fff;
  --pi-inv-text-primary: #000000;
  --pi-inv-text-secondary: #1a202c;
  --pi-inv-text-3th: #2d3748;
  --pi-inv-text-4th: #31343d;
  --pi-inv-text-5th: #4a5568;
  --pi-inv-white: #fff;
  --pi-inv-medium: 15px;
  --pi-inv-small: 12px;
  --pi-inv-micro: 12px;
  --pi-inv-primary: #4c6fff;
  --pi-inv-odd: #f7fafc;
  --pi-inv-even: #edf2f7;
  --pi-inv-font-family-1: "Inter", sans-serif;
  --pi-inv-font-family-2: "Inter", sans-serif;
}

.pi-inv {
  height: 1120px;
  width: 784px;
  overflow: hidden;
  margin: 0 auto;
  margin: 0 auto;
  background-color: var(--pi-inv-white);
  position: relative;
  /* ==== invoice to address */
}
.pi-inv a {
  text-decoration: none;
  color: inherit;
}
.pi-inv * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pi-inv .pi-inv-header {
  display: flex;
  justify-content: space-between;
}
.pi-inv .pi-inv-head {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-left: 34px;
  margin-bottom: 10px;
}
.pi-inv .pi-inv-shapes {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}
.pi-inv .pi-inv-address {
  display: flex;
  justify-content: space-around;
  margin-top: 31px;
}
.pi-inv .pi-inv-from {
  width: 45%;
}
.pi-inv .pi-inv-from-date {
  margin-top: 18px;
}
.pi-inv .pi-inv-from-logo {
  margin-bottom: 18px;
}
.pi-inv .pi-inv-from-logo img {
  max-width: 200px !important;
  max-height: 80px;
  border-radius: 10px;
}
.pi-inv .pi-inv-from h5 {
  font-family: var(--pi-inv-font-family-2);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 9px;
}
.pi-inv .pi-inv-from h6 {
  font-family: var(--pi-inv-font-family-2);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #2d3748;
  margin-bottom: 3px;
}
.pi-inv .pi-inv-from p {
  font-family: var(--pi-inv-font-family-1);
  font-style: normal;
  font-weight: 400;
  font-size: var(--pi-inv-small);
  line-height: 140%;
  color: #4a5568;
}
.pi-inv .pi-inv-from-date p {
  font-style: normal;
  font-weight: 700;
  font-size: var(--pi-inv-small);
  line-height: 200%;
}
.pi-inv .pi-inv-from-date p span {
  font-weight: 400;
}
.pi-inv .pi-inv-from-time {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.pi-inv .pi-inv-to h5 {
  font-family: var(--pi-inv-font-family-2);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 9px;
  margin-top: 18px;
}
.pi-inv .pi-inv-to h6 {
  font-family: var(--pi-inv-font-family-2);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #2d3748;
  margin-bottom: 3px;
}
.pi-inv .pi-inv-to p {
  font-family: var(--pi-inv-font-family-1);
  font-style: normal;
  font-weight: 400;
  font-size: var(--pi-inv-small);
  line-height: 140%;
  color: #4a5568;
}
.pi-inv .pi-inv-title h2 {
  font-family: var(--pi-inv-font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  color: var(--pi-inv-text-4th);
  margin-bottom: 18px;
  text-transform: uppercase;
}
.pi-inv .pi-inv-to {
  width: 35%;
}
.pi-inv .pi-inv-items table {
  border-spacing: 0;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 24px;
}
.pi-inv .pi-inv-items table thead th {
  padding: 10px;
  color: var(--pi-inv-white);
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--pi-inv-small);
  line-height: 140%;
  text-align: left;
}
.pi-inv .pi-inv-items table td {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--pi-inv-small);
  line-height: 150%;
  padding: 15px 10px;
  color: var(--pi-inv-text-3th);
}
.pi-inv .pi-inv-items table td span {
  color: var(--pi-inv-text-5th);
  font-weight: 400;
}
.pi-inv .pi-inv-account {
  display: flex;
  justify-content: space-between;
}
.pi-inv .pi-inv-total table {
  border-spacing: 0;
  min-width: 200px;
}
.pi-inv .pi-inv-total table th {
  padding: 8px 23px;
  display: block;
  font-family: Inter;
  font-style: normal;
  text-align: left;
  font-weight: bold;
  font-size: var(--pi-inv-medium);
  line-height: 140%;
  color: var(--pi-inv-text-primary);
  letter-spacing: 0.5px;
}
.pi-inv .pi-inv-total table td {
  text-align: right;
  font-family: var(--pi-inv-font-family-1);
  font-style: normal;
  font-weight: 400;
  font-size: var(--pi-inv-small);
  line-height: 14px;
  color: #718096;
  padding-right: 10px;
}
.pi-inv .pi-inv-total .pi-inv-table-bg th {
  color: var(--pi-inv-white);
  padding: 6px;
  padding-left: 28px;
  padding-right: 10px;
}
.pi-inv .pi-inv-total .pi-inv-table-bg td {
  color: var(--pi-inv-white);
  line-height: 140%;
}
.pi-inv tr.pi-inv-table-bg {
  background-color: var(--pi-inv-primary);
}
.pi-inv .pi-inv-total .subtotal th {
  font-weight: 800;
  color: #1a202c;
}
.pi-inv .pi-inv-total .subtotal td {
  font-weight: 800;
  color: #1a202c;
}
.pi-inv .pi-inv-total .total {
  padding-top: 20px;
}
.pi-inv .pi-inv-total .light th {
  font-weight: 400;
}
.pi-inv .pi-inv-total .total td {
  font-weight: 800;
  color: #1a202c;
  font-size: 15px;
}
.pi-inv .pi-inv-total table tr.pi-inv-before-total th {
  padding-bottom: 10px;
}
.pi-inv .pi-inv-section {
  margin-bottom: 20px;
}
.pi-inv .pi-inv-section-content ul {
  list-style-type: dot;
}
.pi-inv .pi-inv-section-content ul li {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: var(--pi-inv-micro);
  line-height: 150%;
  color: var(--pi-inv-text-5th);
  margin-left: 15px;
}
.pi-inv .pi-inv-mt-35 {
  margin-top: 35px;
}
.pi-inv .pi-inv-section-title {
  font-family: var(--pi-inv-font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: var(--pi-inv-medium);
  line-height: 150%;
  color: var(--pi-inv-text-secondary);
}
.pi-inv .pi-inv-section-content p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: var(--pi-inv-micro);
  line-height: 200%;
  color: var(--pi-inv-text-5th);
}
.pi-inv .pi-inv-sign {
  float: right;
  padding-right: 40px;
  margin-top: 20px;
}
.pi-inv .pi-inv-sign img {
  max-width: 190px;
}
.pi-inv .pi-inv-bank {
  overflow: hidden;
}
.pi-inv .pi-inv-bank h4 {
  font-family: var(--pi-inv-font-family-1);
  font-style: normal;
  font-weight: 700;
  font-size: var(--pi-inv-small);
  line-height: 140%;
  color: #1a202c;
  margin-bottom: 6px;
}
.pi-inv .pi-inv-bank p {
  font-family: var(--pi-inv-font-family-1);
  font-style: normal;
  font-weight: 400;
  font-size: var(--pi-inv-micro);
  line-height: 150%;
  color: #4a5568;
}
.pi-inv .pi-inv-border {
  border: 0.5px solid #a0aec0;
  margin: 0 -30px;
  margin-top: 8px;
}
@media screen and (max-width: 500px) {
  .pi-inv .pi-inv-body {
    margin: 0 15px;
  }
}
