:root {
  --pi-inv-primary: #4C6FFF;
  --pi-inv-secondary: #E2E8F0;
  --pi-inv-even: #E2E8F0;
}

.pi-inv {
  /* ====template three===*/
}
.pi-inv .pi-inv-three .pi-body {
  margin: 0 35px;
}
.pi-inv .pi-inv-three .pi-top-shape {
  padding-bottom: 30px;
  position: relative;
}
.pi-inv .pi-inv-three .pi-top-shape .pi-shape1 {
  width: 170px;
  height: 170px;
  position: absolute;
  top: -2px;
  z-index: 10;
  left: -36px;
}
.pi-inv .pi-inv-three .pi-top-shape .pi-shape1 svg {
  fill: var(--pi-inv-primary);
}
.pi-inv .pi-inv-three .pi-top-shape .pi-shape2 {
  position: absolute;
  top: 8px;
  left: -36px;
  z-index: 10;
}
.pi-inv .pi-inv-three .pi-top-shape .pi-shape2 svg {
  fill: var(--pi-inv-primary);
}
.pi-inv .pi-inv-three .pi-top-shape .pi-shape3 {
  width: 187px;
  height: 187px;
  position: absolute;
  top: 0;
  z-index: 0;
  left: -36px;
}
.pi-inv .pi-inv-three .pi-top-shape .pi-shape3 svg {
  fill: var(--pi-inv-primary);
}
.pi-inv .pi-inv-three .pi-inv-title h2 {
  color: var(--pi-inv-primary);
  text-align: center;
}
.pi-inv .pi-inv-three .pi-items-table table thead {
  background-color: var(--pi-inv-even);
}
.pi-inv .pi-inv-three .pi-items-table table tbody tr:nth-child(even) {
  background-color: var(--pi-inv-even);
}
.pi-inv .pi-inv-three tr.pi-table-bg {
  background-color: var(--pi-inv-primary);
}
.pi-inv .pi-inv-three .pi-footer-shape {
  position: relative;
  right: 34px;
  bottom: 0;
  transform: rotate(180deg);
}
.pi-inv .pi-inv-three .pi-note-wrap {
  margin-bottom: 40px;
}
