:root {
  --pi-inv-primary: #8EB538;
  --pi-inv-secondary: #424449;
  --pi-inv-even: #EDF2F5;
  --pi-inv-odd: #8db53818;
}

.pi-inv {
  /* ====template four===*/
}
.pi-inv .pi-inv-four .pi-body {
  margin: 0 35px;
}
.pi-inv .pi-inv-four .pi-bg-one {
  background-color: var(--pi-inv-primary);
}
.pi-inv .pi-inv-four .pi-bg-two {
  background-color: var(--pi-inv-secondary);
}
.pi-inv .pi-inv-four .pi-bg-4th {
  background-color: var(--pi-inv-text-4th);
}
.pi-inv .pi-inv-four .pi-from-logo {
  display: inline-block;
  padding: 16px 40px;
  margin-left: -36px;
}
.pi-inv .pi-inv-four .pi-hedear {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}
.pi-inv .pi-inv-four .pi-to {
  margin-top: -30px;
}
.pi-inv .pi-inv-four .pi-to-bg {
  margin-right: -36px;
  padding: 16px 36px 16px 20px;
}
.pi-inv .pi-inv-four .pi-to-bg address {
  color: var(--pi-inv-white);
}
.pi-inv .pi-inv-four .pi-to-bg p {
  color: var(--pi-inv-white);
}
.pi-inv .pi-inv-four .pi-to-bg h6 {
  color: var(--pi-inv-white);
}
.pi-inv .pi-inv-four .pi-items-table table {
  width: 106%;
  margin-left: -23px;
}
.pi-inv .pi-inv-four .pi-items-table table thead th {
  color: var(--pi-inv-white);
  padding-left: 20px;
}
.pi-inv .pi-inv-four .pi-items-table table td {
  padding-left: 20px;
}
.pi-inv .pi-inv-four .pi-items-table table tbody tr:nth-child(even) {
  background-color: var(--pi-inv-odd);
}
.pi-inv .pi-inv-four .pi-items-table table tbody tr:nth-child(odd) {
  background-color: var(--pi-inv-even);
}
.pi-inv .pi-inv-four tr.pi-table-bg :last-child {
  margin-right: -35px;
  display: block;
  padding: 10px 20px;
  margin-left: -20px;
}
.pi-inv .pi-inv-four .pi-footer-shape {
  display: flex;
  margin-top: 40px;
}
.pi-inv .pi-inv-four .pi-footer-shape .pi-shape1 {
  width: 33.3%;
  height: 10px;
}
.pi-inv .pi-inv-four .pi-footer-shape .pi-shape2 {
  width: 33.3%;
  opacity: 0.8;
  height: 10px;
}
.pi-inv .pi-inv-four .pi-footer-shape .pi-shape3 {
  width: 33.4%;
  opacity: 0.6;
  height: 10px;
}
