.pi-inv {
  /* ====template five===*/
}
.pi-inv .pi-inv-five .pi-body {
  margin: -90px 35px;
}
.pi-inv .pi-inv-five .pi-hedear {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.pi-inv .pi-inv-five .pi-hedear .pi-inv-title {
  margin-top: -45px;
}
.pi-inv .pi-inv-five .pi-top-shape svg {
  width: 100%;
  fill: var(--pi-inv-primary);
}
.pi-inv .pi-inv-five .pi-footer-shape {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.pi-inv .pi-inv-five .pi-footer-shape svg {
  fill: var(--pi-inv-primary);
  display: block;
}
.pi-inv .pi-inv-five .pi-items-table table thead {
  background-color: var(--pi-inv-primary);
  color: var(--pi-inv-white);
}
.pi-inv .pi-inv-five .pi-items-table table tbody tr:nth-child(even) {
  background-color: var(--pi-inv-even);
}
.pi-inv .pi-inv-five .pi-items-table table tbody tr:nth-child(odd) {
  background-color: var(--pi-inv-odd);
}
.pi-inv .pi-inv-five tr.pi-table-bg {
  background-color: var(--pi-inv-primary);
}
.pi-inv .pi-inv-five .pi-inv-title h2 {
  text-align: center;
}
@media screen and (max-width: 700px) {
  .pi-inv .pi-inv-five .pi-top-shape svg {
    padding-bottom: 30px;
  }
  .pi-inv .pi-inv-five .pi-footer-shape svg {
    padding-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  .pi-inv .pi-inv-five .pi-top-shape svg {
    padding-bottom: 50px;
  }
}
