
.listDraggingOver {
  background: #ddd;
  background-image: repeating-linear-gradient(30deg, rgba(#FFF, .2), rgba(#FFF, .2) 30px, transparent 0, transparent 60px);
}
.listItemDragging {
  background: #f9fff9;
  border: 1px solid #dfdfdf;
}