body.toplevel_page_ndpi-welcome {
  margin-top: -32px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (max-width: 782px) {
  body.toplevel_page_ndpi-welcome {
    margin-top: -46px;
  }
}
body.toplevel_page_ndpi-welcome #wpwrap {
  top: 0;
}

body.toplevel_page_ndpi-welcome #wpbody-content {
  padding: 0;
  min-height: 100vh !important;
}

body.toplevel_page_ndpi-welcome #wpbody-content .wrap {
  margin: 0;
}

body.toplevel_page_ndpi-welcome #adminmenumain,
body.toplevel_page_ndpi-welcome #wpadminbar,
body.toplevel_page_ndpi-welcome #wpcontent > *,
body.toplevel_page_ndpi-welcome #wpfooter,
body.toplevel_page_ndpi-welcome .error,
body.toplevel_page_ndpi-welcome .notice,
body.toplevel_page_ndpi-welcome .update-nag,
body.toplevel_page_ndpi-welcome .updated,
body.toplevel_page_ndpi-welcome .woocommerce-layout__header,
body.toplevel_page_ndpi-welcome .woocommerce-message,
body.toplevel_page_ndpi-welcome .woocommerce-store-alerts {
  display: none;
}

body.toplevel_page_ndpi-welcome .hidden {
  display: none !important;
}

body.toplevel_page_ndpi-welcome #wpcontent {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

body.toplevel_page_ndpi-welcome #wpcontent > #wpbody {
  display: block;
  margin-top: 0 !important;
}
