/* ====template one===*/
.pv-inv .pv-inv-one .pv-inv-body {
  margin: 0 35px;
}
.pv-inv .pv-inv-one .pv-inv-header {
  padding-top: 50px;
}
.pv-inv .pv-inv-one .pv-inv-items table thead {
  background: var(--pv-inv-primary);
}
.pv-inv .pv-inv-one .pv-inv-items table tbody tr:nth-child(even) {
  background-color: var(--pv-inv-even);
}
.pv-inv .pv-inv-one .pv-inv-items table tbody tr:nth-child(odd) {
  background-color: var(--pv-inv-odd);
}
