/* ====template two===*/
.pv-inv .pv-inv-two .pv-inv-top-shape svg {
  width: 100%;
  display: block;
}
.pv-inv .pv-inv-two .pv-inv-top-shape svg path {
  fill: var(--pv-inv-primary);
}
.pv-inv .pv-inv-two .pv-inv-body {
  margin: 0 35px;
}
.pv-inv .pv-inv-two .pv-inv-from-logo {
  margin-bottom: 18px;
}
.pv-inv .pv-inv-two .pv-inv-items table thead {
  background-color: var(--pv-inv-primary);
  color: var(--pv-inv-white);
}
.pv-inv .pv-inv-two .pv-inv-items table tbody tr:nth-child(even) {
  background-color: var(--pv-inv-even);
}
.pv-inv .pv-inv-two .pv-inv-items table tbody tr:nth-child(odd) {
  background-color: var(--pv-inv-odd);
}
.pv-inv .pv-inv-two .pv-inv-sign {
  bottom: 80px;
  right: 20px;
}
.pv-inv .pv-inv-two .pv-inv-footer-shape {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.pv-inv .pv-inv-two .pv-inv-footer-shape svg {
  display: block;
}
.pv-inv .pv-inv-two .pv-inv-footer-shape svg path {
  width: 100%;
  fill: var(--pv-inv-primary);
}
