/* ====template three===*/
.pv-inv .pv-inv-three .pv-inv-body {
  margin: 0 35px;
  position: relative;
}
.pv-inv .pv-inv-three .pv-inv-top-shape {
  margin-left: -36px;
  position: absolute;
  top: 0;
}
.pv-inv .pv-inv-three .pv-inv-top-shape svg {
  fill: var(--pv-inv-primary);
  color: #E2E8F0;
}
.pv-inv .pv-inv-three .pv-inv-title h2 {
  text-align: center;
  padding-top: 30px;
}
.pv-inv .pv-inv-from-logo {
  margin-bottom: 18px;
}
.pv-inv .pv-inv-three .pv-inv-items table thead {
  background-color: var(--pv-inv-primary);
}
.pv-inv .pv-inv-three .pv-inv-items table tbody tr:nth-child(even) {
  background-color: var(--pv-inv-even);
}
.pv-inv .pv-inv-three .pv-inv-items table tbody tr:nth-child(odd) {
  background-color: var(--pv-inv-odd);
}
.pv-inv .pv-inv-three .pv-inv-footer-shape {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
}
