/* ====template six===*/
.pi-inv {
  border-top: 15px solid #edf2f7;
  border-bottom: 15px solid #edf2f7;
}
.pi-inv .pi-inv-six .pi-inv-title h2 {
  font-family: var(--pi-inv-font-family-1);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #2d3748;
  text-transform: capitalize;
  margin-bottom: 1px;
}
.pi-inv .pi-inv-six .pi-inv-from-logo {
  margin-bottom: 0px;
}
.pi-inv .pi-inv-six .pi-inv-from {
  width: 251px;
  border: 1px solid #edf2f7;
  padding: 15px 29px;
}
.pi-inv .pi-inv-six .pi-inv-to {
  width: 251px;
  border: 1px solid #edf2f7;
  padding: 15px 29px;
}
.pi-inv .pi-inv-six .pi-inv-from address {
  margin-top: 1px;
}
.pi-inv .pi-inv-six .pi-inv-shapes {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.pi-inv .pi-inv-six .pi-inv-shape1 {
  height: 1px;
  background-color: #ebebeb;
}
.pi-inv .pi-inv-six .pi-inv-shape2 {
  margin-bottom: 7px;
}
.pi-inv .pi-inv-six .pi-inv-from address {
  font-family: var(--pi-inv-font-family-1);
  font-size: 10px;
  color: #4a5568;
}
.pi-inv .pi-inv-six .pi-inv-to address {
  font-family: var(--pi-inv-font-family-1);
  font-size: 10px;
  color: #4a5568;
}
.pi-inv .pi-inv-six .pi-inv-item-wrap {
  margin: 0 31px;
}
.pi-inv .pi-inv-six .pi-inv-header {
  padding-top: 50px;
  display: block;
}
.pi-inv .pi-inv-six .pi-inv-items table {
  border-collapse: collapse;
  border-bottom: 1px solid #edf2f7;
}
.pi-inv .pi-inv-six .pi-inv-items table tbody tr {
  border-bottom: 1px solid #edf2f7;
}
.pi-inv .pi-inv-six .pi-inv-items table tbody tr:last-child {
  border-bottom: none;
}
.pi-inv .pi-inv-six .pi-inv-items table thead {
  border-bottom: 1px solid rgba(74, 85, 104, 0.631372549);
}
.pi-inv .pi-inv-six .pi-inv-items table thead th {
  color: #718096;
}
.pi-inv .pi-inv-six .pi-inv-total table {
  border-collapse: collapse;
}
.pi-inv .pi-inv-six .pi-inv-total table tbody tr {
  border-bottom: 1px solid #E2E8F0;
}
.pi-inv .pi-inv-six .pi-inv-total table tbody tr:last-child {
  border-bottom: none;
}
.pi-inv .pi-inv-six .pi-inv-total table th {
  text-transform: uppercase;
  font-size: 7px;
  padding-left: 0;
  font-weight: 500;
  color: var(--pi-inv-text-3th) !important;
}
.pi-inv .pi-inv-six .pi-inv-table-bg {
  background: none;
}
.pi-inv .pi-inv-six .pi-inv-table-bg th {
  color: #1A202C !important;
  font-weight: 900 !important;
  font-size: var(--pi-inv-medium) !important;
  line-height: 24px;
}
.pi-inv .pi-inv-six .pi-inv-table-bg td {
  color: #1A202C;
  font-weight: 900 !important;
  font-size: var(--pi-inv-medium) !important;
  line-height: 24px;
}
.pi-inv .pi-inv-six .pi-inv-total table th {
  text-transform: uppercase;
  font-size: var(--pi-inv-small);
  padding-left: 10px;
}
.pi-inv .pi-inv-six .pi-inv-total .total th {
  font-weight: 800;
  color: #1a202c;
  font-size: 15px;
}
.pi-inv .pi-inv-six .pi-inv-e-bold td {
  font-weight: 600 !important;
  color: #0B062A !important;
}
.pi-inv .pi-inv-six .pi-inv-e-bold th {
  font-weight: 900 !important;
}
.pi-inv .pi-inv-six .pi-inv-note-wrap {
  padding-bottom: 0px;
}
.pi-inv .pi-inv-six .pi-inv-bank {
  width: 235px;
}
.pi-inv .pi-inv-six .pi-inv-total {
  background-color: #EDF2F7;
  margin-top: -24px;
  padding: 18px;
}
