.pi-inv .pi-badge-border {
	border: 1px solid #da0f0f;
	padding: 5px;
	border-radius: 17px;
	margin-bottom: 30px;
	margin-top: 15px;
}

.pi-inv .pi-badge-border.pi-green-color {
	border: 1px solid #18954d;
}

.pi-inv .pi-badge-border.pi-green-color .pi-badge-style-one {
	border: 1px dashed #18954d;
}

.pi-inv .pi-badge-style-one {
	padding: 15px;
	border: 1px dashed #da0f0f;
	border-radius: 12px;
	text-align: center;
}

.pi-inv .pi-badge-style-one h4 {
	font-size: 14px;
	line-height: 30px;
	font-weight: 700;
	color: #da0f0f;
	border-bottom: 2px solid #da0f0f;
}

.pi-inv .pi-badge-style-one p {
	font-size: 12px;
	margin-top: 5px;
	line-height: 15px;
	color: #da0f0f;
}

.pi-inv .pi-green-color h4 {
	font-size: 14px;
	font-weight: 700;
	color: #00A74D;
	border-bottom: 2px solid #00A74D;
}

.pi-inv .pi-green-color p {
	color: #00A74D;
}

.pi-inv .pi-badge-style-two {
	padding: 8px 50px;
	border: 1px solid #dddddda8;
	margin-bottom: 10px;
}

.pi-inv .pi-badge-style-two h4 {
	font-size: 14px;
	font-weight: 700;
	color: #da0f0f;
}

.pi-inv .pi-badge-style-two p {
	font-size: 12px;
	margin-top: 0px;
	color: #2D3748;
	line-height: 15px;
}