@import "partials/_main.scss";
@import "partials/_pagination.scss";
 

#wpbody-content {
    padding-bottom: 0; 
}

//editor js
//TODO: do it only for editor
.ncpi-page-content {
    max-height: 600px; //TODO: add a4 size later
    overflow: hidden;
}
.ce-block__content, .ce-toolbar__content { max-width:calc(100% - 80px) !important; } .cdx-block { max-width: 100% !important; } 
