@import "partials/_main.scss";
@import "partials/_list-single.scss";

#wpbody-content {
    padding-bottom: 0;
}

//editor js
//TODO: do it only for editor
/* .ncpi-page-content {
    max-height: 600px; //TODO: add a4 size later
    overflow: hidden;
} */

.ce-block__content,
.ce-toolbar__content {
    max-width: calc(100% - 80px) !important;
}

.cdx-block {
    max-width: 100% !important;
}

//invoice item radius without edit column


//for backend only 
/* .ncpi .pi-right-content {
    padding: 20px 30px 15px;
    height: auto !important;
}
 */
/* .pi-field-desc {
    line-height: 1.4;
    margin-top: 2px;
} */

.ncpi .pi-info-logo img,
.pi-inv .pi-from-logo img {
    max-width: 200px !important;
    max-height: 80px;
    border-radius: 10px;
}

.wp-admin .pi-left-sidebar,
.wp-admin .pi-top-menu-content {
    display: none;
}

.wp-admin .Toastify__toast-container.Toastify__toast-container--top-right {
    top: 3em;
}

//temporary form css 
.ncpi .pi-field-logo-wrap {

    .pi-field-logo {
        position: relative;
        display: inline-block;

        img {
            border-radius: 4px;
        }
    }

    .pi-field-logo-close {
        background: #fff;
        position: absolute;
        top: -8px;
        right: -5px;
        font-size: 15px;
        padding: 5px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 8px;
        text-align: center;
        cursor: pointer;
        box-shadow: rgb(23 10 18 / 18%) 0px 0px 4px;
    }
}

.pi-inv-sidebar-preview {
    .pi-inv-feedback {
        display: none;
    }
}

.pi-inv-preview-wrap {
    border: 1px solid #dfdfdf;
    margin: auto;
    display: table;
}

.pi-inv-hidden-preview {
    .pi-inv {
        height: auto !important;
    }
}

//tiny mce editor 
/* .mce-content-body {
    font-family: Inter, sans-serif !important;
} */

// bootstrap class
.d-none {
    display: none;
}

@media (min-width: 768px) {
    .justify-content-md-center {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}

//TODO: this class already exist just add important
.ncpi .pi-modal-sidebar {
    margin: 0 !important;
}

.pi-field-action {
    display: inline-block;
    margin-left: 15px;
    top: -2px;
    position: relative;
}

.wp-admin.ncpi {
    background-color: #f7f8fa !important;

    .pi-right-content {
        height: auto !important;
    }

    /* .pi-board-content {
        height: calc(100vh - 404px);
    } */
}

.ncpi {
    .pi-deal-content {
        max-width: none !important;
        overflow-x: scroll;
    }

    .pi-board-content {
        height: calc(100vh - 396px);
    }
}

//TODO: chrome auto fill bg color, move it to css file
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

// preloader
.pi-preloader {
    padding: 50px;
    position: relative;
    text-align: center;
}

.pi-preloader:before {
    content: "";
    height: 40px;
    width: 40px;
    margin: -15px auto auto -15px;
    position: absolute;
    top: 35%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #2180c0 #ccc #ccc;
    border-radius: 100%;
    animation: pi-rotation .7s infinite linear;
}

@keyframes pi-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

// toastify not showing in modal submit error
.Toastify__toast-container {
    z-index: 999999 !important;
}