@import "partials/_main.scss";
@import "partials/_pagination.scss";
 
#wpbody-content {
    padding-bottom: 0; 
}

//editor js
//TODO: do it only for editor
.ncpi-page-content {
    max-height: 600px; //TODO: add a4 size later
    overflow: hidden;
}
.ce-block__content, .ce-toolbar__content { max-width:calc(100% - 80px) !important; } .cdx-block { max-width: 100% !important; } 

//invoice item radius without edit column
.ncpi .pi-info-table-content .pi-info-table thead tr th:last-child {
    border-radius: 0 15px 0 0;
}

//for backend only 
.ncpi .pi-right-content {
    padding: 20px 30px 40px;
    height: auto !important;
}

//TODO: temporary css
h4.from-title {
    font-family: "Inter", sans-serif !important;
} 

.ncpi .pi-popup-content {
    margin: 65px auto;
}
.ncpi .pi-form-content.pi-form-style-two label {
    z-index: 99;
}
.pi-inv {
    border: 1px solid #dfdfdf; 
}
.ncpi .pi-from-content .pi-from {
    margin-top: 10px;
}

.pi-inv-sidebar-preview {
    -moz-transform: scale(0.45);
    -webkit-transform: scale(0.45);
    -o-transform: scale(0.45);
    -ms-transform: scale(0.45);
    transform: scale(0.45);
    transform-origin: left top; 
    // height: 344px;
    .pi-inv {
        width: 740px;
    }
}

.wp-admin .pi-left-sidebar {
    display: none;
}
.wp-admin .Toastify__toast-container.Toastify__toast-container--top-right {
    top: 3em;
}
.ncpi .pi-edit-content span { 
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), inset 0 0 0 1px rgb(0 0 0 / 10%);
}
.ncpi .pi-style-color {
    display: flex;
    gap: 4px;
    span {
        width: 32px;
        height: 32px;
        line-height: 24px;
        border: 3px solid #fff;
        box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), inset 0 0 0 1px rgb(0 0 0 / 10%);
        border-radius: 8px;
        cursor: pointer;
    }
}