.pi-inv .pi-sign {
  margin-top: 30px;

  img {
    max-width: 190px;
    max-height: 60px;
  }
}

.pi-inv .pi-bank-info {
  font-size: 12px;
}

//print css for dashboard and frontend
@media print {
  .pi-note-wrap {
    page-break-before: always;
  }
}

.pi-inv-preview {
  .pi-inv {
    height: auto !important;
  }
}