.ncpi .pi-right-content {
  width: 100%;
}
.ncpi .pi-grid-container {
  display: flex;
  grid-template-columns: auto auto auto;
}
.ncpi .pi-right-content {
  padding: 30px 70px;
}
.ncpi .pi-right-content h1 {
  margin-bottom: 10px;
  margin-top: 0;
}
.ncpi .pi-text-hover-blue.pi-float-right {
  background-color: transparent;
}
.ncpi .pi-empty-content {
  margin-top: 90px;
}
.ncpi .pi-empty-content img {
  margin-bottom: 20px;
}
.ncpi .pi-empty-content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
  .ncpi .pi-right-content {
    padding: 30px;
    padding-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .ncpi .pi-search-box.pi-float-right {
    margin-top: 15px;
    float: left;
  }
}

.ncpi .pi-single-image-content {
  position: relative;
}
.ncpi .pi-single-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.ncpi .pi-single-image-current.pi-active {
  border: 5px solid var(--bg-color-blue);
  border-radius: 15px;
}
.ncpi .pi-overflow-content {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a61;
  border-radius: 10px;
}
.ncpi .pi-single-image-content:hover .pi-single-image {
  opacity: 0.3;
}
.ncpi .pi-single-image-content:hover .pi-overflow-content {
  opacity: 1;
}
.ncpi .pi-single-image-content a {
  transform: translateY(-113%);
  width: 110px;
  display: block;
  margin: auto;
  top: 50%;
  position: relative;
  padding: 10px 15px;
  font-size: 12px;
}
.ncpi .pi-single-image-content .pi-bg-hover-blue:hover {
  background-color: #4e6de9 !important;
  color: var(--bg-color-white);
}
.ncpi .pi-single-image-content a:last-child {
  background-color: var(--bg-color-white);
  color: var(--bg-color-black);
  margin-top: 10px;
}

.ncpi .pi-add-info-content {
  padding: 25px 50px;
  border-radius: 20px;
}
.ncpi .pi-add-info-content input[type=text] {
  width: 100%;
  padding: 10px;
  border: 1px solid #CBD5E0;
  border-radius: 4px;
  font-size: 10px;
  background-color: #fff;
}
.ncpi .pi-add-info-content h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.ncpi .pi-info-content {
  padding: 20px;
  border-radius: 20px;
}
.ncpi .pi-info-logo img {
  width: 125px;
  height: 125px;
  border-radius: 8px;
  padding: 10px;
  border-radius: 5px;
  border: 1px dotted;
}
.ncpi .pi-info-form {
  float: right;
}
.ncpi label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 12px;
}
.ncpi input[type=submit]:hover {
  background-color: #45a049;
}
.ncpi .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.ncpi .p-info-lavel {
  width: 45%;
  margin-top: 3px;
  text-align: right;
}
.ncpi .pi-fnfo-input-field {
  float: left;
  width: 50%;
  margin-top: 6px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .ncpi .pi-info-content .pi-info-logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .ncpi .pi-info-content .pi-info-form {
    float: none;
  }
}
.ncpi .pi-from-content {
  padding: 35px 30px;
}
.ncpi .pi-from-content .recive-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
}
.ncpi .pi-from-content .pi-to,
.ncpi .pi-from-content .pi-from {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #CBD5E0;
}
.ncpi .pi-from-content .pi-from {
  width: 97%;
}
.ncpi .pi-from-content select {
  border: none;
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 700;
  outline: none;
}
.ncpi .pi-from-content .from-title {
  font-size: 14px;
  font-weight: 700;
}
.ncpi .pi-from-content .from-title span {
  margin-left: 30px;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #CBD5E0;
  padding: 6px 10px;
  border-radius: 4px;
  position: relative;
  top: 2px;
  background-color: #fff;
  cursor: pointer;
}
.ncpi .pi-from-content .from-title svg {
  margin-right: 10px;
}
.ncpi .pi-from-content address {
  font-size: 12px;
  font-style: normal;
  line-height: 25px;
}

.info-table-content table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 45px;
}
.info-table-content table textarea {
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  border: 1px solid #ddd;
  padding: 10px;
}
.info-table-content th {
  text-align: left;
  padding: 15px 20px;
}
.info-table-content td {
  padding: 30px 15px;
}
.info-table-content th {
  width: 30%;
}
.info-table-content thead tr {
  background-color: #f8f8f8;
}
.info-table-content thead tr th span {
  font-size: 10px;
  color: #4A5568;
}
.info-table-content td:first-child input[type=text] {
  width: 100%;
}
.info-table-content tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}
.info-table-content td input[type=number],
.info-table-content td input[type=text] {
  width: 70px;
  padding: 6px 0 7px 10px;
  border: 1px solid #CBD5E0;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}
.info-table-content td select {
  width: 65px;
  padding: 8px;
  border: 1px solid #CBD5E0;
  font-size: 10px;
  background-color: var(--text-color-air-white);
  outline: none;
  margin-left: -7px;
}
.info-table-content tr td:last-child {
  font-size: 12px;
  padding: 0;
}
.info-table-content tr td:last-child span {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px;
}
.info-table-content tr td:nth-child(3) input[type=text],
.info-table-content tr td:nth-child(2) input[type=text] {
  float: left;
  font-size: 12px;
}
.info-table-content tr td:nth-child(3) input[type=nunber],
.info-table-content tr td:nth-child(2) input[type=nunber] {
  border-radius: 4px 0 0 4px;
}
.info-table-content tr td:nth-child(3) select,
.info-table-content tr td:nth-child(2) select {
  border-radius: 0 4px 4px 0;
}
.info-table-content button {
  width: 100%;
  border-radius: 0 0 15px 15px !important;
  color: #1A202C !important;
}
