:root {
  --pi-primary: #4C6FFF;
  --pi-secondary: #31343D;
  --pi-text-primary:#000000;
  --pi-text-secondary:#1A202C;
  --pi-text-3th:#2D3748;
  --pi-text-4th:#31343D;
  --pi-text-5th:#4A5568;
  --pi-white:#fff;
  --pi-medium: 16px;
  --pi-small: 12px;
}

body {
  font-family: "Inter", sans-serif;
  background: #E5E5E5 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pi-invoice {
  background-color: #fff;
}

.pi-invoice {
  max-width: 794px;
  margin: 0 auto;
}

.pi-hedear {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
}

.pi-from address {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--pi-small);
  line-height: 200%;
  color: var(--pi-text-4th);
  margin-bottom: 36px;
  margin-top: 18px;
}

.pi-from address span, .pi-from address a {
  font-weight: 500;
}

.pi-from-date p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--pi-small);
  line-height: 200%;
}

.pi-from-date p span {
  font-weight: 500;
}

.pi-from-time {
  display: flex;
  -moz-column-gap: 18px;
  column-gap: 18px;
}

/* ==== invoece to address */
.pi-to-logo h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  color: var(--pi-secondary);
  margin-bottom: 18px;
}

.pi-to p {
  font-style: normal;
  font-weight: bold;
  font-size: var(--pi-small);
  line-height: 200%;
  color: var(--pi-text-3th);
}

.pi-to address {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--pi-small);
  line-height: 200%;
  color: var(--pi-text-3th);
  margin-bottom: 36px;
  margin-top: 5px;
}

.pi-to address p, .pi-to address a {
  font-weight: 500;
  margin-top: -5px;
}

.pi-items-table table {
  border-spacing: 0;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 24px;
}

.pi-items-table table thead th {
  padding: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--pi-small);
  line-height: 140%;
  text-align: left;
}

.pi-items-table table td {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--pi-small);
  line-height: 150%;
  padding: 15px 10px;
  color: var(--pi-text-3th);
}

.pi-items-table table td span {
  color: var(--pi-text-5th);
  font-weight: 500;
}

/* pi-banking wrap */
.pi-bank-info {
  margin-bottom: 35px;
}

.pi-bank-info {
  display: flex;
  justify-content: space-between;
}

.pi-bank-info h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: var(--pi-medium);
  line-height: 140%;
  color: #1A202C;
}

.pi-bank-info table {
  margin-top: 18px;
}

.pi-bank-info table th {
  text-align: left;
  padding-left: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--pi-small);
  line-height: 150%;
  color: var(--pi-text-primary);
}

.pi-bank-info table td {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: var(--pi-small);
  line-height: 150%;
  color: var(--pi-text-primary);
  text-align: left;
}

.pi-amounting table {
  border-spacing: 0;
  width: 210px;
}

.pi-amounting table th {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: var(--pi-medium);
  line-height: 140%;
  color: var(--pi-text-primary);
  padding-left: 28px;
}

.pi-amounting .pi-table-bg th, td {
  color: var(--pi-white);
  line-height: 220%;
  padding-left: 28px;
  padding-right: 10px;
}

.pi-amounting .pi-table-bg td {
  color: var(--pi-white);
}

/* pi-note wrap */
.pi-note-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}

.mt-35 {
  margin-top: 35px;
}

.pi-note h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: var(--pi-medium);
  line-height: 200%;
  color: var(--pi-text-secondary);
}

.pi-note p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: var(--pi-small);
  line-height: 200%;
  color: var(--pi-text-5th);
}

.pi-sign {
  text-align: center;
  margin-right: 60px;
}

.pi-sign h4 {
  font-style: normal;
  font-weight: bold;
  font-size: var(--pi-medium);
  line-height: 200%;
  color: var(--pi-text-secondary);
}

.pi-border {
  border: 0.5px solid #A0AEC0;
  margin: 0 -30px;
  margin-top: 8px;
}

/* ====template one===*/
.pi-invoice-one .pi-top-shape img {
  width: 100%;
}

.pi-invoice-one .pi-body {
  margin: 0 35px;
}

.pi-invoice-one .pi-items-table table thead {
  background: url(../img/inv/bg.svg);
  background-color: #0099FF;
  color: var(--pi-white);
}

.pi-invoice-one .pi-items-table table tbody tr:nth-child(even) {
  background-color: #EDF2F7;
}

.pi-invoice-one tr.pi-table-bg {
  background: url(../img/inv/bg.svg);
  background-color: #0099FF;
}

.pi-invoice-one .pi-footer-shape img {
  width: 100%;
  margin-bottom: -4px;
}

/* ====template two===*/
.pi-invoice-two .pi-body {
  margin: 0 35px;
}

.pi-invoice-two .pi-hedear {
  padding-top: 80px;
}

.pi-invoice-two .pi-items-table table thead {
  background: #E6E6E6;
}

.pi-invoice-two .pi-items-table table tbody tr:nth-child(odd) {
  background-color: #F9F9F9;
}

.pi-invoice-two tr.pi-table-bg {
  background: #4F4F4F;
  color: var(--pi-white);
}

.pi-invoice-two .pi-note-wrap {
  padding-bottom: 115px;
}
