.bg-sidebar {
  background: #3d68ff;
}

.cta-btn {
  color: #3d68ff;
}

.upgrade-btn {
  background: #1947ee;
}

.upgrade-btn:hover {
  background: #0038fd;
}

.active-nav-link {
  background: #1947ee;
}

.nav-item:hover {
  background: #1947ee;
}

.account-link:hover {
  background: #3d68ff;
}

.text-white {
  color: #fff !important;
}

.ncpi-h-screen {
  height: 94vh;
  overflow-y: scroll;
}

.ncpi-frontend .ncpi-h-screen {
  height: 100vh;
  overflow-y: scroll;
}

#wpbody-content {
  padding-bottom: 0;
}

.ce-block__content, .ce-toolbar__content {
  max-width: calc(100% - 80px) !important;
}

.cdx-block {
  max-width: 100% !important;
}
