.ndpv .pv-invoice-single-btn .pv-btn {
  border-radius: 5px;
  z-index: 10;
  position: relative;
}

.ndpv .pv-single-tab-content .pv-page-title {
  margin-bottom: 55px;
}

@media screen and (max-width: 992px) {
  .ndpv .pv-single-tab-content .pv-page-title {
    margin-bottom: 30px;
    margin-top: 50px;
  }
}

.ndpv .pv-single-image-content {
  position: relative;
}

.ndpv .pv-single-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px !important;
  border: 1px solid var(--pv-border-color-gray);
}

.ndpv .pv-single-image.pv-active {
  border: 5px solid var(--pv-bg-color-blue);
  border-radius: 15px;
}

.ndpv .pv-overflow-content {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a47;
  border-radius: 15px;
}

.ndpv .pv-single-image-content:hover .pv-single-image {
  opacity: 0.3;
}

.ndpv .pv-single-image-content:hover .pv-active {
  opacity: 1 !important;
}

.ndpv .pv-single-image-content:hover .pv-overflow-content {
  opacity: 1;
}

.ndpv .pv-single-image-content a {
  transform: translateY(-113%);
  display: table !important;
  margin: auto;
  top: 50%;
  position: relative;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}

.ndpv .pv-single-image-content .pv-bg-hover-blue:hover {
  background-color: #4e6de9 !important;
  color: var(--pv-bg-color-white);
}

.ndpv .pv-single-image-content a:last-child {
  background-color: var(--pv-bg-color-white) !important;
  color: #2D3748;
  margin-top: 10px;
}

.ndpv .pv-invoice-tab-content .pv-modal-content {
  margin: 75px auto;
}

.ndpv .pv-info-content {
  padding: 35px 30px;
  border-radius: 8px;
}

@media screen and (max-width: 550px) {
  .ndpv .pv-info-content {
    padding: 20px 15px;
  }
}

.ndpv .pv-add-info-content {
  margin-bottom: 20px;
}

.ndpv .pv-add-info-content h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.ndpv .pv-add-info-content .pv-info-content {
  padding: 30px 45px 45px;
  border-radius: 20px;
}

@media screen and (max-width: 550px) {
  .ndpv .pv-add-info-content .pv-info-lavel {
    width: 110px;
  }
}

.ndpv .pv-add-info-content input[type=number],
.ndpv .pv-add-info-content input[type=text] {
  padding: 12px 6px !important;
  border: 1px solid var(--pv-border-color-gray);
  border-radius: 4px;
  font-size: 10px;
  color: #718096;
}

.ndpv .pv-add-info-content label {
  padding: 9px 12px 12px 0;
  display: inline-block;
  font-size: 12px;
  color: #4A5568;
  margin-bottom: 0;
}

.ndpv .pv-add-info-content .pv-info-input-field {
  position: relative;
  width: 135px;
}

.ndpv .pv-add-info-content .pv-info-input-field .pv-calendar {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 10px 7px;
  border-left: 1px solid var(--pv-border-color-gray);
  cursor: pointer;
  text-align: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #F8F8FA 100%);
  display: flex;
  align-items: center;
  border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 550px) {
  .ndpv .pv-add-info-content .pv-info-input-field .pv-calendar {
    padding: 8px 7px;
  }
}

.ndpv .pv-add-info-content .pv-info-form-list {
  display: flex;
  margin-bottom: 10px;
  justify-content: right;
}

@media screen and (max-width: 550px) {
  .ndpv .pv-add-info-content .pv-info-form-list {
    justify-content: center;
  }
}

.ndpv .pv-info-logo {
  position: relative;
  top: 50%;
  transform: translatey(-49%);
}

.ndpv .pv-info-logo .pv-upload {
  font-weight: 500;
  border: 1px dashed #718096;
  text-align: center;
  width: 130px;
  height: 130px;
  border-radius: 20px;
  padding-top: 28px;
  background: #FAFAFA;
  overflow: hidden;
}

@media screen and (max-width: 550px) {
  .ndpv .pv-info-logo .pv-upload {
    width: 135px;
  }
}

.ndpv .pv-info-logo .pv-upload p {
  font-size: 14px;
  color: #718096;
  font-weight: 500;
  margin-top: 5px;
}

.ndpv .pv-info-logo input[type=file] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  padding: 50px;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
}

@media screen and (max-width: 550px) {
  .ndpv .pv-info-content .pv-info-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .ndpv .pv-add-info-content {
    padding: 25px 25px;
  }
}

.ndpv .pv-from-content .pv-to {
  margin-left: auto;
}

.ndpv .pv-from-content .pv-from-to-content {
  display: flex;
  justify-content: space-between;
}

.ndpv .pv-from-content .pv-from-to {
  max-width: 310px;
}

.ndpv .pv-from-content .pv-from-to label {
  font-size: 14px;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
}

.ndpv .pv-from-content .pv-from-to .pv-sendlist {
  display: flex;
  justify-content: right;
  align-items: center;
}

.ndpv .pv-from-content .pv-from-to .pv-sendlist .pv-list {
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  color: #4A5568;
  left: -10px;
  margin-top: -15px;
}

.ndpv .pv-from-content .pv-from-to .pv-sendlist .pv-list svg {
  margin-top: 6px;
  float: right;
  position: absolute;
  margin-left: 15px;
}

.ndpv .pv-from-content .pv-title-small {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}

.ndpv .pv-from-content .pv-title-small span {
  float: right;
  cursor: pointer;
  margin-top: -2px;
}

.ndpv .pv-from-content .pv-from {
  padding: 16px 15px 20px 20px;
  border-radius: 8px;
  border: 1px solid #CBD5E0;
  background: rgba(231, 236, 254, 0.26);
}

.ndpv .pv-from-content .pv-dropdown-content {
  top: 25px;
  right: -20px;
  box-shadow: none;
  border: 1px solid rgba(221, 221, 221, 0.6588235294);
  text-align: left;
}

.ndpv .pv-from-content .pv-dropdown-content a:hover {
  color: #4c6fff;
}

.ndpv .pv-from-content .pv-dropdown-content a {
  color: #4A5568;
}

.ndpv .pv-from-content address {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: #718096;
  margin-bottom: 0;
}

.pv-border-right {
  position: relative;
}

.pv-border-right:before {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  left: 50%;
  border: 1px dashed #CBD5E0;
  top: 0px;
}

@media screen and (max-width: 550px) {
  .pv-border-right:before {
    border: 0;
  }
}

@media screen and (max-width: 550px) {

  .pv-to,
  .pv-from-to {
    max-width: 100% !important;
    float: none !important;
  }

  .pv-to {
    margin-top: 20px;
  }

  .pv-from-content {
    padding: 20px 15px !important;
  }
}

.ndpv .pv-inv-sections .pv-group-input {
  position: relative;
}

.ndpv .pv-inv-sections .pv-group-input label {
  font-size: 14px;
  font-weight: 600;
  color: #2D3748;
}

.ndpv .pv-inv-sections .pv-group-input label svg {
  margin-left: 5px;
  cursor: pointer;
  color: #2D3748;
  top: 4px;
  position: relative;
}

.ndpv .pv-inv-sections .pv-group-input textarea {
  margin-bottom: 25px;
  color: #718096;
  font-size: 12px;
}

.ndpv .pv-inv-sections .pv-group-input .pv-field-label .pv-close-icon {
  position: absolute;
  right: 0px;
  top: 0%;
  padding: 5px 10px;
  cursor: pointer;
}

.ndpv .pv-inv-sections .pv-group-input input {
  width: 50%;
  font-weight: 600;
  margin-bottom: 10px;
}

.ndpv .pv-inv-sections .pv-group-input input::-moz-placeholder {
  color: #2D3748 !important;
  font-weight: 600;
}

.ndpv .pv-inv-sections .pv-group-input input:-ms-input-placeholder {
  color: #2D3748 !important;
  font-weight: 600;
}

.ndpv .pv-inv-sections .pv-group-input input::placeholder {
  color: #2D3748 !important;
  font-weight: 600;
}

.ndpv .pv-right-sidebar h2.pv-title-medium {
  margin-bottom: 10px;
  margin-top: 80px;
  font-size: 20px;
  color: #4A5568;
}

.ndpv .pv-right-sidebar .pv-invoice-image {
  border: 1px solid #718096;
  border-radius: 10px;
  width: 100%;
}

.ndpv .pv-right-content {
  overflow-x: hidden;
}