//Invoice single image
.ndpv {
  .pv-invoice-single-btn {
    .pv-btn {
      border-radius: 5px;
      z-index: 10;
      position: relative;
    }
  }

  .pv-single-tab-content {
    .pv-page-title {
      margin-bottom: 55px;

      @media screen and (max-width: 992px) {
        margin-bottom: 30px;
        margin-top: 50px;
      }
    }
  }

  .pv-single-image-content {
    position: relative;
  }

  .pv-single-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 15px !important;
    border: 1px solid var(--pv-border-color-gray);
  }

  .pv-single-image.pv-active {
    border: 5px solid var(--pv-bg-color-blue);
    border-radius: 15px;
  }



  .pv-overflow-content {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a47;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pv-single-image-content:hover .pv-single-image {
    opacity: 0.3;
  }

  .pv-single-image-content:hover .pv-active {
    opacity: 1 !important;
  }

  .pv-single-image-content:hover .pv-overflow-content {
    opacity: 1;
  }

  .pv-single-image-content a {
    display: block;
    min-width: 130px;
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
  }

  .pv-single-image-content .pv-bg-hover-blue:hover {
    background-color: #4e6de9 !important;
    color: var(--pv-bg-color-white);
  }

  .pv-single-image-content a:last-child {
    background-color: var(--pv-bg-color-white) !important;
    color: #2D3748;
    margin-top: 10px;
  }

  .pv-invoice-tab-content .pv-modal-content {
    margin: 75px auto;
  }
}

.ndpv {
  .pv-info-content {
    padding: 35px 30px;
    border-radius: 8px;

    @media screen and (max-width: 550px) {
      padding: 20px 15px;
    }
  }

  //Add info content
  .pv-add-info-content {
    margin-bottom: 20px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
    }

    .pv-info-content {
      padding: 30px 45px 45px;
      border-radius: 20px;
    }

    .pv-info-lavel {
      @media screen and (max-width: 550px) {
        width: 110px;
      }
    }

    input[type="number"],
    input[type="text"] {
      padding: 12px 6px !important;
      border: 1px solid var(--pv-border-color-gray);
      border-radius: 4px;
      font-size: 10px;
      color: #718096;
    }

    label {
      padding: 9px 12px 12px 0;
      display: inline-block;
      font-size: 12px;
      color: #4A5568;
      margin-bottom: 0;
    }

    .pv-info-input-field {
      position: relative;
      width: 135px;

      .pv-calendar {
        position: absolute;
        top: 1px;
        right: 1px;
        padding: 10px 7px;
        border-left: 1px solid var(--pv-border-color-gray);
        cursor: pointer;
        text-align: center;
        background: linear-gradient(180deg, #FFFFFF 0%, #F8F8FA 100%);
        display: flex;
        align-items: center;
        border-radius: 0 5px 5px 0;

        @media screen and (max-width: 550px) {
          padding: 8px 7px;
        }
      }
    }

    .pv-info-form-list {
      display: flex;
      margin-bottom: 10px;
      justify-content: right;

      @media screen and (max-width: 550px) {
        justify-content: center;
      }
    }
  }



  .pv-info-logo {
    position: relative;
    top: 50%;
    transform: translatey(-49%);

    .pv-upload {
      font-weight: 500;
      border: 1px dashed #718096;
      text-align: center;
      width: 130px;
      height: 130px;
      padding-top: 28px;
      background: #FAFAFA;
      overflow: hidden;

      @media screen and (max-width: 550px) {
        width: 135px;
      }

      p {
        font-size: 14px;
        color: #718096;
        font-weight: 500;
        margin-top: 5px;
      }
    }

    input[type=file] {
      position: absolute;
      cursor: pointer;
      opacity: 0;
      padding: 50px;
      top: 0;
      left: 0;
      width: 130px;
      height: 130px;
    }

  }


  @media screen and (max-width: 550px) {
    .pv-info-content {
      .pv-info-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .pv-add-info-content {
      padding: 25px 25px;
    }
  }

  //Pi form content
  .pv-from-content {
    .pv-to {
      margin-left: auto;
    }

    .pv-from-to-content {
      display: flex;
      justify-content: space-between;
    }

    .pv-from-to {
      max-width: 310px;

      label {
        font-size: 14px;
        display: block;
        margin-top: 0;
        margin-bottom: 15px;
        font-weight: 500;
      }

      .pv-sendlist {
        display: flex;
        justify-content: right;
        align-items: center;

        .pv-list {
          cursor: pointer;
          padding: 10px 15px;
          position: relative;
          color: #4A5568;
          left: -10px;
          margin-top: -15px;

          svg {
            margin-top: 6px;
            float: right;
            position: absolute;
            margin-left: 15px;
          }
        }

      }
    }

    .pv-title-small {
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 5px;

      span {
        float: right;
        cursor: pointer;
        margin-top: -2px;
      }
    }

    .pv-from {
      padding: 16px 15px 20px 20px;
      border-radius: 8px;
      border: 1px solid #CBD5E0;
      background: rgba(231, 236, 254, 0.26);
    }

    .pv-dropdown-content {
      top: 25px;
      right: -20px;
      box-shadow: none;
      border: 1px solid rgba(221, 221, 221, 0.6588235294);
      text-align: left;

      a:hover {
        color: #4c6fff;
      }

      a {
        color: #4A5568;
      }
    }

    address {
      font-size: 12px;
      line-height: 150%;
      font-style: normal;
      color: #718096;
      margin-bottom: 0;
    }
  }
}

.pv-border-right {
  position: relative;

  &:before {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    left: 50%;
    border: 1px dashed #CBD5E0;
    top: 0px;

    @media screen and (max-width: 550px) {
      border: 0;
    }
  }
}

@media screen and (max-width: 550px) {

  .pv-to,
  .pv-from-to {
    max-width: 100% !important;
    float: none !important;
  }

  .pv-to {
    margin-top: 20px;
  }

  .pv-from-content {
    padding: 20px 15px !important;
  }
}

.ndpv {
  .pv-inv-sections {
    .pv-group-input {
      position: relative;

      label {
        font-size: 14px;
        font-weight: 600;
        color: #2D3748;

        svg {
          margin-left: 5px;
          cursor: pointer;
          color: #2D3748;
          top: 4px;
          position: relative;
        }
      }

      textarea {
        margin-bottom: 25px;
        color: #718096;
        font-size: 13px;
      }


      .pv-field-label {
        .pv-close-icon {
          position: absolute;
          right: 0px;
          top: 0%;
          padding: 5px 10px;
          cursor: pointer;
        }
      }

      input {
        width: 50%;
        font-weight: 600;
        margin-bottom: 10px;
      }

      input::placeholder {
        color: #2D3748 !important;
        font-weight: 600;
      }
    }

  }

  // Raight sidebar
  .pv-right-sidebar {
    h2.pv-title-medium {
      margin-bottom: 10px;
      margin-top: 80px;
      font-size: 20px;
      color: #4A5568;
    }

    .pv-invoice-image {
      border: 1px solid #718096;
      border-radius: 10px;
      width: 100%;
    }
  }

  .pv-right-content {
    background-color: #f7f8fa;
  }

}